altair==5.4.1
atomicwrites==1.4.1
attrs==24.2.0
blinker==1.8.2
Brotli==1.0.9
cachetools==5.5.0
certifi==2022.6.15
cfgv==3.3.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
cx-Oracle==8.3.0
dash==2.6.1
dash-bootstrap-components==1.2.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash-tools==1.8.3
distlib==0.3.6
docopt==0.6.2
filelock==3.8.0
Flask==2.2.2
Flask-Compress==1.12
gitdb==4.0.11
GitPython==3.1.43
gunicorn==20.1.0
identify==2.5.4
idna==3.3
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
markdown-it-py==3.0.0
MarkupSafe==2.1.1
mdurl==0.1.2
narwhals==1.6.0
nodeenv==1.7.0
numpy==1.23.2
packaging==21.0
pandas==1.4.4
pillow==10.4.0
pipreqs==0.4.11
platformdirs==2.5.2
plotly==5.10.0
pluggy==0.13.1
pre-commit==2.16.0
protobuf==5.28.0
py==1.11.0
pyarrow==17.0.0
pydeck==0.9.1
Pygments==2.18.0
pyparsing==3.0.9
pytest==6.2.2
python-dateutil==2.8.2
pytz==2022.2.1
PyYAML==6.0
referencing==0.35.1
requests==2.28.1
rich==13.8.0
rpds-py==0.20.0
six==1.16.0
smmap==5.0.1
streamlit==1.38.0
tenacity==8.5.0
termcolor==1.1.0
toml==0.10.2
tornado==6.4.1
typing_extensions==4.12.2
urllib3==1.26.12
virtualenv==20.16.4
watchdog==4.0.2
Werkzeug==2.2.2
yarg==0.1.9
yolk3k==0.9
